<p id="notice"><%= notice %></p>

<h1>Listing Waitlists</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Cust_Id</th>
      <th>Rest_Id</th>
      <th>People</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waitlists.each do |waitlist| %>
      <tr>
        <td><%= waitlist.id %></td>
        <td><%= User.find_by_id(waitlist.cust_id).name%></td>
        <td><%= waitlist.rest_id %></td>
        <td><%= waitlist.people %></td>
        <td><%= link_to 'Show', waitlist %></td>
        <td><%= link_to 'Edit', edit_waitlist_path(waitlist) %></td>
        <td><%= link_to 'Destroy', waitlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <strong>current_user:</strong>
  <%= current_user.id %>
</p>
<%= link_to 'New Waitlist', new_waitlist_path %>
