<p id="notice"><%= notice %></p>

<h1>Listing Waitlists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waitlists.each do |waitlist| %>
      <tr>
        <td><%= link_to 'Show', waitlist %></td>
        <td><%= link_to 'Edit', edit_waitlist_path(waitlist) %></td>
        <td><%= link_to 'Destroy', waitlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waitlist', new_waitlist_path %>
