<script src="https://js.braintreegateway.com/v2/braintree.js"></script>


<body class="signup">
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                <div class="page-header">Delivery Checkout</div>
                <% if flash[:error] %>
                  <div class="error"><%= flash[:error] %></div><br>
                <% end %>
                <%= form_for :delivery do |f| %>
                <p>
                    Enter your phone number:
                    <%= f.text_field :phone %>
                </p>
                <p>   
                    <%= f.label :address %>
                    <%= f.text_field :address, required: true %>
                </p>
                    <%= f.hidden_field :rest_id, :value => params[:rest_id] %>
                    <%= f.hidden_field :total, :value => params[:total] %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <table class="table table-striped">
                        <thead>
                            <tr><th colspan="3"></th></tr>
                        </thead>
                        
                        <tbody >
                            <% if not params[:cart_id].empty? %>
                            <tr>
                                <td>Picture</th>
                                <td>Name</th>
                                <td>Price</th>
                                <td>Qty</th>
                            </tr>
                            
                            <% params[:cart_id].each do |cid|%>
                            <tr>
                                <% @menu = Menu.find(Cart.find(cid).menu_id) %>
                                <td>
                                    <%= image_tag(@menu.avatar.url(:thumb), :width => '50', :height => '50')%>
                                </td>
                                <td>
                                    <!--% name = User.where(id: list.cust_id).first.name %> -->
                                    <%= @menu.name %>
                                </td>
                                <td>
                                    <%= @menu.price %>
                                </td>
                                <td>
                                    <%= Cart.find(cid).qty %>
                                </td>
                            </tr>
                            <% end %>
                            <%else %>
                            You have no delivery.
                            <%end %>
                        </tbody>
                    </table>
                <p>
                    <div class="page-header">Total = $<%= params[:total] %></div>
                </p>
                <div id="payment-form"></div>
                <div class="actions">
                    <br><br>
                <%= f.submit "Checkout", :class => "btn btn-bytlyn btn-max"%>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</main>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiJkOWIxNTcwNmRkOTllZmJlNjZjMzNiNWY0Yjg4ZTNkNjkyMmM4NDFlZDE0NjUxNGZlZTZmYzc1YWY5Njg1OGJifGNyZWF0ZWRfYXQ9MjAxNS0xMS0yMVQwMzoyMzozNi4zNTY2NTI1NDMrMDAwMFx1MDAyNm1lcmNoYW50X2lkPTM0OHBrOWNnZjNiZ3l3MmJcdTAwMjZwdWJsaWNfa2V5PTJuMjQ3ZHY4OWJxOXZtcHIiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiZW52aXJvbm1lbnQiOiJzYW5kYm94IiwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzLzM0OHBrOWNnZjNiZ3l3MmIvY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIn0sInRocmVlRFNlY3VyZUVuYWJsZWQiOnRydWUsInRocmVlRFNlY3VyZSI6eyJsb29rdXBVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi90aHJlZV9kX3NlY3VyZS9sb29rdXAifSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiQWNtZSBXaWRnZXRzLCBMdGQuIChTYW5kYm94KSIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQzIiwiYmlsbGluZ0FncmVlbWVudHNFbmFibGVkIjp0cnVlLCJtZXJjaGFudEFjY291bnRJZCI6ImFjbWV3aWRnZXRzbHRkc2FuZGJveCIsImN1cnJlbmN5SXNvQ29kZSI6IlVTRCJ9LCJjb2luYmFzZUVuYWJsZWQiOmZhbHNlLCJtZXJjaGFudElkIjoiMzQ4cGs5Y2dmM2JneXcyYiIsInZlbm1vIjoib2ZmIn0=";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>


                    




  