<body class="profile">
    <main class="">
        <div class="parallax-container">
            <div class="parallax"><img src="build/img/stock/cover-user.jpg" class="width-full" ></div>
            <div class="text">
                <h1> Restaurant List </h1>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <div class="wrapper-left">
                        <div class="side-pannel">
                            <a href="profile" class="tab"><span class="fa fa-home"></span> Home</a>
                            <%if !current_user.rest %>
                                <a href="favorites" class="tab"><span class="fa fa-star"></span> Favorite</a>
                            <%end%>
                            <a href="/waitlists"class="tab"><span class="fa fa-hourglass"></span> Waitlist</a>
                    
                            <%if @history %>
                                <a href="delivery"class="tab"><span class="fa fa-rocket"></span> Delivery</a>
                            <%else %>
                                <a href="delivery"class="tab chosen"><span class="fa fa-rocket"></span> Delivery</a>
                            <%end%>

                            <%if @history %>
                              <a href="/waitlist_history"class="tab chosen"><span class="fa fa-history"></span>History</a>
                            <%else %>
                              <a href="/waitlist_history"class="tab"><span class="fa fa-history"></span>History</a>
                            <%end %>
                            <a href="setting"class="tab"><span class="fa fa-cog"></span>Setting</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="wrapper-right">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        
                        <p id="notice"><%= notice %></p>
                        <% if @history %>
                            <ul class="nav nav-tabs">
                                <li><a href="/waitlist_history">Waitlist History</a></li>
                                <li class="active"><a href="/delivery_history">Delivery History</a></li>
                            </ul>
                        <%end%>
                        <div class="text-center">
                            <table class="table table-striped">
                                <thead>
                                    <tr><th colspan="6"></th></tr>
                                </thead>
                                
                                <tbody >
                                    <% if not @deliveries.empty? %>
                                    <tr>
                                        <td>Name</th>
                                        <td>Menu</th>
                                        <td>Qty</th>
                                        <td>Address</th>
                                        <td>Phone</th>
                                    </tr>
                                    
                                    <% @deliveries.each do |delivery| %>
                                    <% del = delivery[:delivery] %>
                                    <% menus = delivery[:cart] %>

                                    <tr>
                                        <td>

                                            <% name = User.where(id: del.user_id).first.name %>
                                            <%= name %>
                                        </td>
                                        <td>
                                            <%menus.each do |menu| %>
                                                <%= menu[:name] %> <br>
                                            <%end%>
                                            
                                        </td>
                                        <td>
                                            <%menus.each do |menu| %>
                                                <%= menu[:qty] %> <br>
                                            <%end%>
                                            
                                        </td>
                                        <td>
                                            <%= del.address %>
                                        </td>
                                        <td>
                                            <%= del.phone %>
                                        </td>
                                        <td>
                                            <!-- <button class="btn btn-red">Delete</button> -->
                                            <% if del.status < 4 %>
                                                <button class="btn btn-red"><%= link_to Delivery.status_string(del.status + 1), {:controller => "deliveries", :action => "update_status", :delivery => del} , :method=>:post%></button>
                                            <%else %>
                                                <%= Delivery.status_string(del.status) %>
                                            <% end %>
                                            
                                        </td>
                                    </tr>
                                    <% end %>
                                    <%else %>
                                    You have no current delivery.
                                    <%end %>
                                </tbody>
                            </table>

                            <!-- <br><a class="btn btn-bytlyn" href="./waitlists_new?rest_id=<%= current_user.id %>"> New Waitlist</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>